button[role="button"] {
    @include inline-block;
    @include border-radius(0.5em);
    text-shadow: inset 1px 1px 0px 0px black;
    border-bottom:0.2em solid black;
    background:$color-blue;
    padding:0.6em 1.8em;
    color:white;
    & > .icon {
        
    }
    & > .text {
        //text styles
   
    }
    &:hover {
        border-top:0.2em solid transparent;
        border-bottom:0;
        & > .icon {
            
        }
    }
}

//Basic control styles
[role="button"][rel="prev"],
[role="button"][rel="next"] {
    //Text
    & .text {
       
    }
}

.btn-cta {
    //@include inline-block;
    display:block;
    font-weight:normal;
    padding:0.5em 1em;
    background-color:$color-blue;
    color:white;
    @include standard-transition-padding;
    &:hover {
        @include standard-transition-padding;
        padding-left:2em;
        color:white;
    }
}

.btn-cta + .btn-cta {
    margin-top:1em;
}