button[role="button"] {
    @include inline-block;
    @include border-radius(0.5em);
    text-shadow: inset 1px 1px 0px 0px black;
    border-bottom:0.2em solid black;
    background:$color-blue;
    padding:0.6em 1.8em;
    color:white;
    & > .icon {
        
    }
    & > .text {
        //text styles
   
    }
    &:hover {
        border-top:0.2em solid transparent;
        border-bottom:0;
        & > .icon {
            
        }
    }
}

//Basic control styles
[role="button"][rel="prev"],
[role="button"][rel="next"] {
    //Text
    & .text {
       
    }
}

.btn-cta {
    display:block;
    font-weight:normal;
    padding:0 1em;
    color:white;
    vertical-align: middle;
}

.btn-cta .icon {
    width: em(45);
    height: em(45);
    margin-right: em(10);
    @include inline-block;
    @include standard-transition-transform;
}

.btn-cta .text {
    @include inline-block;
    @include standard-transition-padding;
}

.btn-cta:hover,
.btn-cta:focus {

    .icon {
        @include standard-transition-transform;
        @include transform(rotate(360deg));
    }

    .text {
        @include standard-transition-padding;
        padding-left:em(10);
    }

    @media all and (max-width: em($bp-three-col)) {
        .text {
            padding-left: 0;
        }
    }
}

.btn-cta:visited {
    color:white;
}

.no-csstransitions .btn-cta:hover,
.no-csstransitions .btn-cta:focus {
    color: $color-orange;
    padding-left: 0;
}