// --------------------------------------------------------------------------------
// ---------- Lists ---------------------------------------------------------------
// --------------------------------------------------------------------------------

ul.disc {
    margin-left: 0.5em;
}

ul.disc li {
    list-style: disc outside;
    padding-left:0.5em;
    margin-bottom: $spacing / 2;
}


ul.item-list li {
    margin-bottom: $spacing/2;
}

ol,
ol li {
    list-style: decimal outside;
    margin-bottom: $spacing / 2;
}

dl:last-of-type,
ul:last-of-type,
ol:last-of-type,
li:last-of-type {
    margin-bottom: 0;
}

dl {
	@include inline-block();
}

dt,
dd {
	@include inline-block();
}

dt {
    font-weight:bold;
    margin-right:0.5em;
}

dd {
    margin-right:1.5em;
}

dd:last-child {
    margin-right:0;
}

.item-heading {
    font-size:1.5em;
}

.definition-list-stacked dt,
.definition-list-stacked dd {
    float: none;
}

.definition-list-stacked dt {
    padding-bottom: 0;
}

.definition-list-stacked dd {
    padding-bottom: 0.75em;
    @include inline-block;
    margin-right: 0.2em;
}

.unordered-inline-list li {
    @include inline-block;
}

//Item List

.item-list li {
    display:block;
    text-align:left;
    border-bottom:1px solid rgba(white,0.5);
    padding-bottom:2em;
    margin-bottom:2em;
}

.item-list li:last-child {
    border-bottom:0 none;
}

.item-list .item-header {
    margin-bottom:0.75em;
    text-align:left;
}

.item-list .item-heading {
    @include inline-block();
    //font-size:1em;
    text-align:left;
    margin-right:0.5em;
}

.item-list dl {
    float:right;
}