// --------------------------------------------------------------------------------
// ---------- Lists ---------------------------------------------------------------
// --------------------------------------------------------------------------------

ul.disc {
    margin-left: 0.5em;
}

ul.disc li {
    list-style: disc outside;
    padding-left:0.5em;
    margin-bottom: $spacing / 2;
}


ul.item-list li {
    margin-bottom: $spacing/2;
}

ol,
ol li {
    list-style: decimal outside;
    margin-bottom: $spacing / 2;
}

dl:last-of-type,
ul:last-of-type,
ol:last-of-type,
li:last-of-type {
    margin-bottom: 0;
}

dl {
	display:block;
    @include clearfix;
}

dt,
dd {
	float:left;
	margin-right:1em;
}

dt {
	clear:left;
    font-weight:bold;
}

.item-heading {
    font-size:1.5em;
}
