// --------------------------------------------------------------------------------
// ---------- Reveal container CSS3 and JS solution -------------------------------
// --------------------------------------------------------------------------------

.reveal-container {
    padding: $spacing 0;
    position:relative;
    overflow: hidden;
    @include ceaser-transition(max-height, 500ms, $easeInCirc, 0s);
}

.reveal-container.closed {
    max-height: 0;
}

.reveal-container.open {
    max-height: 21.875em;
}

.reveal-inner {
    position:absolute;
}

.no-csstransitions .reveal-container.closed,
.no-csstransitions .reveal-container.open {
    max-height:none;
}

.no-csstransitions .reveal-inner{
    position:static;
}

// --------------------------------------------------------------------------------
// ---------- Reveal button -------------------------------------------------------
// --------------------------------------------------------------------------------
.reveal-button {
    background: $color-grey;
    display: block;
    width: 3em;
    height: 1.5em;
    @include border-bottom-radius(1.5em);
    position: absolute;
    left: 0;
    margin-left: 0.98039%;
    bottom: -1.5em;
    top: auto;
    text-align: center;
}

.reveal-button .text {
    @include el_off_screen;
}

.reveal-button .icon {
    color:white;
}

.reveal-container .body-content {
    display: none;
}

.reveal-more-container .more {
    display: block;
    clear: left;
    font-family: $font-heading;
}