/* -------------------------------------------------------------------------------- */
/* ---------- Layout -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0 auto;
    background: lighten($color-orange-pale, 5%);
    min-width: 20.000em;
    height:100%;
}

.load {
    @include opacity(0);
}

.loaded {
    @include opacity(1);
    @include standard-transition-opacity;
}

.wrapper-inner {
    max-width:83%;
    margin:0 auto;
    @include clearfix;
}

[role=main] {
    background:url('/images/bg-texture.jpg') no-repeat top;
    background-attachment:fixed;
    background-size:100% 100%;
}

[role=main] div:first-of-type {
    border-top:0 none;
}

[role=banner],
.article,
.section {
    @extend %flow-in-grid;
    position:relative;
}

.section .page-heading,
.section .standfirst {
    @include column-spread;
}

.section .content {
    @extend %flow-in-grid;
}

.header {
    @include box-block($color-blue);
    position:relative;
}