/* -------------------------------------------------------------------------------- */
/* ---------- Layout -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    padding: 0;
    margin: 0 auto;
    background: lighten($color-orange-pale, 5%);
    min-width: 20.000em;
    height:100%;
}

.wrapper-inner {
    //max-width: 61em; //976px
    //max-width: 58em;
    max-width:83%;
    margin:0 auto;
    @include clearfix;
}

[role=main] {
    background:url('/images/bg-texture.jpg') no-repeat top;
    background-attachment:fixed;
    background-size:100% 100%;
}

[role=main] div:first-of-type {
    border-top:0 none;
}

[role=banner],
.article,
.section {
    @extend %flow-in-grid;
    position:relative;
}

.section .page-heading,
.section .standfirst {
    @include column-spread;
}

.section .content {
    @extend %flow-in-grid;
}

.header {
    @include box-block($color-blue);
    position:relative;
}

/* -------------------------------------------------------------------------------- */
/* ---------- Article -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.article {
    @extend %standard-box;
}

.article p {
    line-height:1.42em;
}

.article .article-text {
    @include column(7);
    @include push(1);

    @media all and (max-width:37.500em) {
        @include column-spread;
        margin-bottom:$spacing;
    }
}

.article-heading {
    @include column-spread;
}

.article .figure {
    @include column(8);

    @media all and (max-width:37.500em) {
        @include column-spread;
        margin-bottom:$spacing;
    }
}

.article .aside {
    @include column(7);
    @include pull(1);

    @media all and (max-width:37.500em) {
        @include column-spread;
    }
}

.article .article-text p {
    padding-right:5%;
}
.article .aside p {
    padding-left:5%;
}