/* -------------------------------------------------------------------------------- */
/* ---------- Footer -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

.section-sm {
    background: darken($color-blue, $shift-amount*2);
    color: white;
    position: fixed;
    position: sticky;
    display: block;
    z-index: 10;
    bottom: -5.5em;
    padding: 0.750em 0;
    @include standard-transition-bottom;

    @media all and (max-width:37.500em) {
        position: static;
        bottom: 0;
    }
}

.section-sm .wrapper-inner {
    position: relative;
    overflow: visible;
}

.section-sm .btn-open {
    position: absolute;
    z-index: 10;
    display: block;
    top: -3.25em;
    height: 3em;
    width: 7em;
    margin-left: -3.5em;
    background-color: black;
    padding: 0.5em;
    right: 1em;
    color: white;
    @include border-top-radius(0.5em);
}

.section-sm.active,
.section-sm:hover {
    bottom: 0;
}

.section-sm nav,
.section-sm .sm-links-list {
    @extend %flow-in-grid;
}