.article-biog {
    @extend %standard-box;
    @include box-block($color-blue);
    @include dotted-bg(rgba($color-blue, 0.8), white);
    position:relative;
}

.article-biog .article-heading {
	margin-bottom: em(8);

	@media all and (max-width: em(780)) {
		font-size: 3.6em;
	}

	@media all and (max-width: em(500)) {
		font-size: 2.4em;
	}
}