.section-infographic {
	@include box-block($color-red, 1, true);
	padding: $spacing/2 0;
	position: relative;

    @media all and (max-width:37.500em) {
        padding-bottom: 4em;
    }
}

.section-infographic dt, 
.section-infographic dd {
	display: block;
	float: left;
	min-width: 2.8em;
    min-height: 1.2em;
    text-align: left;
}

.section-infographic dt {
	clear: left;
    margin-bottom: 0.2em;
}

.section-release-details {
	width: 100%;
	float: left;
}