.article-news {
    @include box-block(darken($color-red,$shift-amount));
    @include dotted-bg(rgba($color-red, 0.8), white, 8px);
    border:0 none;
}

.article-news .article-heading {
	font-size: 5.500em;
	line-height:0.675em;
}