.sm-links-list {
	@include clearfix;
	height:auto;
}

.sm-links-list .medium .icon {
	background:white;
}

.sm-links-list .list-item:first-child {
	@include push(8);

	@media all and (max-width:37.5000em) {
		@include push(4);
	}

	@media all and (max-width:20.0000em) {
		@include push(0);
	}
}

.sm-links-list .list-item:last-child {
	@include pull(8);

	@media all and (max-width:37.5000em) {
		@include pull(4);
	}

	@media all and (max-width:20.0000em) {
		@include pull(0);
	}
}

.sm-links-list .list-item {
	@include column(2);

	@media all and (max-width:37.5000em) {
		@include column(4);
	}

	@media all and (max-width:20.0000em) {
		@include column(6);
	}
}

.sm-links-list .list-item {

	a {
		width:100%;
		height:auto;
		padding:0;

		&:hover .icon svg path{
			fill:$color-red-pale;
			@include standard-transition;
		}
	}

	.icon {
		width:100%;
	}

	.icon svg {
		width:100%;
		height:100%;
	}

	.icon path {
		fill:white;
		@include standard-transition;
	}

	.text {
		@include el_off_screen;
	}
}