/* -------------------------------------------------------------------------------- */
/* ---------- Key ----------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */


$keywidth: 16em;
.wrapper-key {
	position: absolute;
	left:-$keywidth;
	right: auto;
	z-index: 5;
	width: $keywidth;
	@include standard-transition-left();
}

.wrapper-key.active {
	left: 0em;
	@include standard-transition-left();
}

.wrapper-key .btn-showHide {
	display: block;
	color:white;
	padding: 0.5em 0.5em 0.5em 2em;
	background-color: darken($color-red, 25%);
	position: absolute;
	right: -6em;
	top:0;
	width: 5em;
	@include border-bottom-right-radius(0.5em);
}

.wrapper-keylist {
	top: 0;
	right: 0;
	position: absolute;
	width: $keywidth;
	background-color: darken($color-red, 25%);
	@include border-bottom-right-radius(0.5em);
}

#key-list {
	float: right;
	padding: 0.5em;
	width: 11em;
}

#key-list dd,
#key-list dt {
	@include inline-block();
	margin-right:0.5em;
}

#key-list dt {
	width:2em;
	height:2em;
	border:1px solid white;
}