.sm-links-list {
	@include inline-block;
	text-align: center;
	height:auto;
}

.sm-links-list .list-item {
	@include inline-block;
	width: 4em;
	margin-right: 0.5em;

	@media all and (max-width: em(430)) {
		width: 3em;
	}
}

.sm-links-list .list-item:last-child {
	margin-right: 0;
}

.sm-links-list .list-item {

	.icon {
		width:100%;
		display: block;
		@include standard-transition;
	}

	.icon svg {
		width:100%;
		height:100%;
		display: block;
	}

	.icon path {
		fill:white;
	}

	.text {
		@include el_off_screen;
	}
}

.sm-link {
	width:100%;
	height:auto;
	padding:0;

	&:hover .icon{
		@include transform(rotate(360deg));
		@include standard-transition;
	}
}