/* -------------------------------------------------------------------------------- */
/* ---------- px to em ------------------------------------------------------------ */
/* -------------------------------------------------------------------------------- */
// http://viljamis.com/blog/2013/prototyping-responsive-typography/?utm_source=Responsive+Design+Weekly&utm_campaign=76e7785581-Responsive_Design_Weekly_046&utm_medium=email
 
$browser-context: 16; // Default
 
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em
}

/* -------------------------------------------------------------------------------- */
/* ---------- Images -------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
@mixin image-shadow {
    @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 3px, 1px, false);
}

@mixin image_mask {
    -webkit-mask-image: url(/images/decoration/knockout.png);
    -o-mask-image: url(/images/decoration/knockout.png);
    -moz-mask-image: url(/images/decoration/knockout.png);
    -ms-mask-image: url(/images/decoration/knockout.png);
    mask-image: url(/images/decoration/knockout.png);
}

/* -------------------------------------------------------------------------------- */
/* ---------- Opactity ------------------------------------------------------------ */
/* -------------------------------------------------------------------------------- */
/* Non-inheriting cross browser opacity with grey bg color */
@mixin opacity_no_inherit($opacity: 0.35, $bg-color: white) {
    $opacity_ie: $opacity * 100;
    background: $bg-color;
    background: rgba($bg-color, $opacity);
    -ms-filter: alpha(opacity = $opacity_ie);
    filter: alpha(opacity = $opacity_ie);
}

/* -------------------------------------------------------------------------------- */
/* ---------- Gradients ----------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */
@mixin dotted-bg($bg-color:$color-blue, $dot-color:white, $size:12px) {
    @include background(radial-gradient(rgba($dot-color,.2) 2px, transparent 3px) 0 0);
    @include background(radial-gradient(rgba($dot-color,.2) 2px, transparent 3px) 8px 8px);
    @include background(radial-gradient(rgba($dot-color,.2) 1px, transparent 1px) 0 1px);
    @include background(radial-gradient(rgba($dot-color,.2) 1px, transparent 1px) 8px 9px);
    background-color:$bg-color;
    background-size:$size $size;
}

@mixin color-grad-bg($orientation: right, $stopOne: 20%, $stopTwo: 80%, $bg-color1:$color-orange, $bg-color2: $color-orange-paler, $size: 100%) {
    @include background(linear-gradient(to $orientation, $bg-color1 $stopOne, $bg-color2 $stopTwo));
    background-color: $bg-color1;
    background-size: $size $size;
}

/* -------------------------------------------------------------------------------- */
/* ---------- Text ---------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@mixin hide-text {
    overflow: hidden;
    text-indent: 9999px;
    font-size: 0em;
    color: transparent;
}

@mixin unhide-text {
    overflow: show !important;
    text-indent: 0 !important;
    font-size: inherit !important;
    color: inherit !important;
}

@mixin prevent_text_breakouts {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

/* -------------------------------------------------------------------------------- */
/* ---------- Alignment Trickery -------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@mixin match-heights {
    margin-bottom: -100em !important;
    padding-bottom: 100em!important;
}

@mixin table-cell-middle-align {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
    float: none;
    clear: both;
}

@mixin text-off-screen {
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    display: block;
    text-align: start;
}

@mixin el-off-screen {
    position: absolute;
    left: -9999em;
}

@mixin indented-full-width {
    @include column(10);
    @include push(1);
    @include pull(1);
}

/* -------------------------------------------------------------------------------- */
/* ---------- Boxes --------------------------------------------------------------- */
/* -------------------------------------------------------------------------------- */

@mixin box-block($bg-color:$color-blue, $opacity:0.8, $beforeAfter: true) {
    background-color:$bg-color;
    @include opacity_no_inherit($opacity, $bg-color);
    border-color:$bg-color;
    @if $beforeAfter {
        &:before,
        &:after {
            position:absolute;
            z-index:2;
            top:0;
            height:100%;
            @include colspan(2);
            content:" ";
            background-color:white;
            @include opacity(0.2);
        }
        &:before {
            left:0;
        }
        &:after {
            right:0;
        }
    }
    @else if $beforeAfter == false {
        &:before,
        &:after {
            display:none;
        }
    }

}

/* -------------------------------------------------------------------------------- */
/* ---------- Grid utilities ------------------------------------------------------ */
/* -------------------------------------------------------------------------------- */
@mixin column-spread($push:2, $columns:20, $pull:2) {
    @include column($columns);
    @include push($push);
    @include pull($pull);
}