//Variables

$nav-main-bp1: 65.5em;
$nav-main-bp2: 33.500em;

.section-main-header .nav-main {
    @include column(14);
    @include pull(2);
    text-align: right;

    @media all and (max-width:$nav-main-bp1) {
        @include column-spread(2,20,2);
        text-align: center;
        position: static;
    }
}

.section-main-header .nav-main-list {
    @include inline-block;
    height: 3.5em;
    overflow: hidden;
    height: 5.9em;

    @media all and (max-width:$nav-main-bp1) {
        width: 100%;
        height: 3.4em;
    }

    @media all and (max-width:$nav-main-bp2) {
        display: none;
    }
}

.section-main-header .nav-main-list.load,
.section-main-header .nav-main-list.open {
    display: inline;
}

.section-main-header .nav-main-list.load {
    .nav-link {
        @include opacity(0);
    }
}

$nav-list-delay: 1, 2, 3, 4;

.section-main-header .nav-main-list.open {

    @each $delay in $nav-list-delay {
        .list-item:nth-child(#{$delay}n) {
            .nav-link {
                @include opacity(1);
                @include standard-transition-opacity(#{$delay}s);
            }
        }
    }
}

.section-main-header .nav-main .list-item {
    margin: 0;
}

.section-main-header .nav-main .list-item,
.section-main-header .nav-main .nav-link {
    @media all and (max-width: $nav-main-bp2) {
        display: block;
        width: 100%;
    }
}

.section-main-header .btn-nav {
    font-size: 2em;
    height: 1.5em;
    line-height: 1.6em;

    .icon {
        width: 1.5em;
        margin: 0.3em auto 0;
        display: block;

        path {
            fill: white;
        }
    }

    @media all and (max-width: $nav-main-bp2) {
        @include inline-block();
        @include standard-transition-opacity;
        @include opacity(1);
    }
}

.section-main-header .nav-link {
    background: darken($color-orange,1%);
    border-top: lighten($color-orange,$shift-amount) solid 0.2em;
    height: 2.2em;
    padding: 3.5em 0 0 0;
    color: white;

    @media all and (max-width: $nav-main-bp1) {
        padding: 1.1em 0 0.5em;
        height: 1.8em;
    }

    @media all and (max-width: $nav-main-bp2) {
        padding: 0.6em 0 0.5em;
        font-size: 1.25em;
        height: 1.4em;
    }
}

#home .section-main-header #home-link,
#music .section-main-header #music-link ,
#discog .section-main-header #discog-link,
#patches .section-main-header #patches-link {
    background: $color-nav-active;
}

.section-main-header .nav-link:hover,
.section-main-header .nav-link:focus {
    background: rgba($color-nav-active, 0.8);
    padding: 3.5em 0 5.5em 0;

    @media all and (max-width:$nav-main-bp1) {
        padding: 1.5em 0 5.5em 0;
    }

    @media all and (max-width:$nav-main-bp2) {
        padding: 0.6em 0 0.5em;
    }
}