//Generic nav

.btn-nav {
    @include inline-block;
    width: 100%;
    text-align: center;
    @extend %orange-block;
    display: none;
    @include standard-transition-opacity;
    @include opacity(0);

    .text {
        @include el_off_screen;
    }
}

.nav-list {
    text-align: center;
    vertical-align: bottom;

    @media all and (max-width:15em) {
        display: none;
        @include standard-transition-opacity;
        @include opacity(0);
    }   
}

.nav-list .list-item {
    @include inline-block;
    position: relative;
    margin-left: -2px;
}

.nav-list .nav-link {
    @include inline-block;
    height: 1.5em;
    width: 6.570em;
    padding: 0.5em 0;
    font-family: $font-heading;
    font-weight: 500;
    @include standard-transition();
}