.section-filter {
    @include box-block(darken($color-red,$shift-amount));
    @include dotted-bg(rgba($color-red, 0.8), white, 8px);
    border:0 none;
}

.section-filter [role="search"] {
    padding:$spacing 0;
    @include column-spread(2,20,2);
    text-align:center;
}

.section-filter .form-item {
    float:left;
    width:50%;
}

.section-filter .form-item-sub {
    display:none;
}

.section-filter [role="search"] [type="checkbox"]:checked ~ .form-item-sub,
.section-filter [role="search"] [type="checkbox"]:checked + .form-item-sub {
    display:block;
}

.search-results {
    @extend %flow-in-grid;
    margin-bottom:$spacing;
}

.search-results .group-heading {
    @extend .section-heading;
    text-transform:capitalize;
    margin-bottom:$spacing/2;
}

.search-results .group {
    @include box-sizing(border-box);
    width:33.3%;
    float:left;
}

.results-list {
    display:block;
}

.results-list .list-item {
    border-bottom:1px soild rgba(white, 0.5);
}
