.section-filter {
    @include box-block(darken($color-red,$shift-amount));
    @include dotted-bg(rgba($color-red, 0.8), white, 8px);
    border:0 none;
}

.section-filter [role="search"] {
    padding:$spacing 0;
    @include column-spread(2,20,2);
    text-align:center;
}

.search-results {
    @include column-spread(2,20,2);
    margin-bottom:$spacing;
}

.search-results .group-heading {
    @extend .section-heading;
    text-transform:capitalize;
    margin-bottom:$spacing/4;
}

.search-results .results-group {
    @include box-sizing(border-box);
    width:33.3%;
    float:left;
    border-right:1px soild rgba(white, 0.5);
    margin-bottom:$spacing/2;
}

.search-results .results-group:nth-child(3n) {
    border-right:0 none;
}

.search-results .results-group:nth-child(4n) {
    clear:left;
}

.results-list {
    display:block;
}

.results-list .list-item {
    border-bottom:1px soild rgba(white, 0.5);
}
