.section-tabs {
    position:relative;
    min-height:12em;
}

.tabs-nav {
	@include column(24);
}

.tabs-nav {
    position:absolute;
    left:0;
    bottom:100%;
    height:auto;
}

.tabs > .wrapper-inner {
    text-align: center;
}

.tabs-nav-list {
    text-align:center;
    vertical-align: bottom;
    @include inline-block;
    position:relative;
}

.tabs-nav-list li {
    @include inline-block;
    position:relative;
    //margin-right: 0.125em; //removed due to spacing bug
}

.tabs-nav-list li a {
    @include inline-block;
    width:8em;
    @extend %red-block;
    padding: 0.5em 0;
    font-family: $font-heading;
    @include border-top-radius($form-border);
    @include standard-transistion();
    @include box-block($color-red, 0.8, false);
}

.tabs-nav-list li.active a,
.tabs-nav-list li a:hover {
    @include box-block($color-red, 1, false);
    text-decoration: none;
    margin-top: 0;
}

.tabs-content {
    @extend %standard-box;
    @include column-spread;
	display:none;
}

.no-js .tabs-content,
.tabs-content.active {
	display:inline;
}